<div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
  <div class="relative max-w-xl mx-auto">
    <svg class="absolute left-full transform translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404">
      <defs>
        <pattern id="85737c0e-0916-4a12-b733-fc5ea7a8a289" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="404" fill="url(#85737c0e-0916-4a12-b733-fc5ea7a8a289)" />
    </svg>
    <div class="relative">
      <h2 class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
        Built by the Boring Team
      </h2>
      <p class="mt-4 text-lg text-gray-500">
        Boring Video Compressor was created by the Boring team, a team of one developer (lol) who believes in building simple and efficient tools to make our lives a little bit easier.
      </p>
      <p class="mt-4 text-lg text-gray-500">
					We're passionate about using the latest technologies to solve real-world problems, and we're always looking for ways to improve our products and services. If you have any suggestions or thoughts don't hesitate to <a class="underline text-blue" href="mailto:contact@meseta.nyc">reach out</a>!
      </p>
    </div>
  </div>
</div>
