<div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
  <div class="relative max-w-xl mx-auto">
    <svg class="absolute left-full transform translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404">
      <defs>
        <pattern id="85737c0e-0916-4a12-b733-fc5ea7a8a289" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="404" fill="url(#85737c0e-0916-4a12-b733-fc5ea7a8a289)" />
    </svg>
    <div class="relative">
      <h2 class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
        How to Use Boring Video Compressor
      </h2>
      <ol class="mt-4 space-y-6 text-lg text-gray-500">
        <li>
          <span class="font-bold">Upload your video:</span> Click the "Choose File" button on the home page and select the video you want to compress.
        </li>
        <li>
          <span class="font-bold">Compress your video:</span> Click the "Compress Video" button to start the compression process.
        </li>
        <li>
          <span class="font-bold">Download your compressed video:</span> Once the compression is complete, you'll be able to download the compressed video file.
        </li>
      </ol>
    </div>
  </div>
</div>